body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
  margin: 0;
  font-family: "Arial", sans-serif;

  background: #c33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1d2671,
    #c33764
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 200px;
  gap: 10px;
  background-color: rgb(11, 1, 19);
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgb(50, 12, 43);
}

.display {
  grid-column: span 4;
  height: 50px;
  background-color: #eee;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 10px;
  font-size: 24px;
}

button {
  height: 50px;
  font-size: 24px;
}
